### IntelliJ IDEA ###
/out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

/build/
# 项目排除路径
/Agent/target/
/Builder/target/
/Core/target/
/Injector/target/
/Loader/target/
/Loader/dll/src/shared/unzip.h
/Loader/dll/build/
/Loader/dll/cmake-build-debug/
/Loader/dll/.idea/
/Minecraft-1.8.9/run/MCEFLocales/am.pak
/Minecraft-1.8.9/run/MCEFLocales/ar.pak
/Minecraft-1.8.9/run/MCEFLocales/bg.pak
/Minecraft-1.8.9/run/MCEFLocales/bn.pak
/Minecraft-1.8.9/run/MCEFLocales/ca.pak
/Minecraft-1.8.9/run/cef.pak
/Minecraft-1.8.9/run/cef_100_percent.pak
/Minecraft-1.8.9/run/cef_200_percent.pak
/Minecraft-1.8.9/run/cef_extensions.pak
/Minecraft-1.8.9/run/cef_sandbox.lib
/Minecraft-1.8.9/run/chrome_elf.dll
/Minecraft-1.8.9/run/MCEFLocales/cs.pak
/Minecraft-1.8.9/run/d3dcompiler_47.dll
/Minecraft-1.8.9/run/MCEFLocales/da.pak
/Minecraft-1.8.9/run/MCEFLocales/de.pak
/Minecraft-1.8.9/run/devtools_resources.pak
/Minecraft-1.8.9/run/MCEFLocales/el.pak
/Minecraft-1.8.9/run/MCEFLocales/en-GB.pak
/Minecraft-1.8.9/run/MCEFLocales/en-US.pak
/Minecraft-1.8.9/run/MCEFLocales/es.pak
/Minecraft-1.8.9/run/MCEFLocales/es-419.pak
/Minecraft-1.8.9/run/MCEFLocales/et.pak
/Minecraft-1.8.9/run/MCEFLocales/fa.pak
/Minecraft-1.8.9/run/MCEFLocales/fi.pak
/Minecraft-1.8.9/run/MCEFLocales/fil.pak
/Minecraft-1.8.9/run/MCEFLocales/fr.pak
/Minecraft-1.8.9/run/MCEFLocales/gu.pak
/Minecraft-1.8.9/run/MCEFLocales/he.pak
/Minecraft-1.8.9/run/MCEFLocales/hi.pak
/Minecraft-1.8.9/run/MCEFLocales/hr.pak
/Minecraft-1.8.9/run/MCEFLocales/hu.pak
/Minecraft-1.8.9/run/icudtl.dat
/Minecraft-1.8.9/run/MCEFLocales/id.pak
/Minecraft-1.8.9/run/MCEFLocales/it.pak
/Minecraft-1.8.9/run/MCEFLocales/ja.pak
/Minecraft-1.8.9/run/jcef.dll
/Minecraft-1.8.9/run/jcef_helper.exe
/Minecraft-1.8.9/run/MCEFLocales/kn.pak
/Minecraft-1.8.9/run/MCEFLocales/ko.pak
/Minecraft-1.8.9/run/libcef.dll
/Minecraft-1.8.9/run/libcef.lib
/Minecraft-1.8.9/run/swiftshader/libEGL.dll
/Minecraft-1.8.9/run/libEGL.dll
/Minecraft-1.8.9/run/swiftshader/libGLESv2.dll
/Minecraft-1.8.9/run/libGLESv2.dll
/Minecraft-1.8.9/run/MCEFLocales/lt.pak
/Minecraft-1.8.9/run/MCEFLocales/lv.pak
/Minecraft-1.8.9/run/MCEFLocales/ml.pak
/Minecraft-1.8.9/run/MCEFLocales/mr.pak
/Minecraft-1.8.9/run/MCEFLocales/ms.pak
/Minecraft-1.8.9/run/natives_blob.bin
/Minecraft-1.8.9/run/MCEFLocales/nb.pak
/Minecraft-1.8.9/run/MCEFLocales/nl.pak
/Minecraft-1.8.9/run/MCEFLocales/pl.pak
/Minecraft-1.8.9/run/MCEFLocales/pt-BR.pak
/Minecraft-1.8.9/run/MCEFLocales/pt-PT.pak
/Minecraft-1.8.9/run/MCEFLocales/ro.pak
/Minecraft-1.8.9/run/MCEFLocales/ru.pak
/Minecraft-1.8.9/run/MCEFLocales/sk.pak
/Minecraft-1.8.9/run/MCEFLocales/sl.pak
/Minecraft-1.8.9/run/snapshot_blob.bin
/Minecraft-1.8.9/run/MCEFLocales/sr.pak
/Minecraft-1.8.9/run/MCEFLocales/sv.pak
/Minecraft-1.8.9/run/MCEFLocales/sw.pak
/Minecraft-1.8.9/run/MCEFLocales/ta.pak
/Minecraft-1.8.9/run/MCEFLocales/te.pak
/Minecraft-1.8.9/run/MCEFLocales/th.pak
/Minecraft-1.8.9/run/MCEFLocales/tr.pak
/Minecraft-1.8.9/run/MCEFLocales/uk.pak
/Minecraft-1.8.9/run/v8_context_snapshot.bin
/Minecraft-1.8.9/run/MCEFLocales/vi.pak
/Minecraft-1.8.9/run/MCEFLocales/zh-CN.pak
/Minecraft-1.8.9/run/MCEFLocales/zh-TW.pak
